#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#top-image {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

#bottom-image {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.content-wrapper {
  display: flex;
  width: 100%;
  margin: 12rem 60px 0 15rem;
  gap: 20rem;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#content h1 {
  padding-left: 4px;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 0.105em;
  color: #6c63ff;
}

.subscribe-text {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #9c9ab6;
  margin-bottom: 30px;
}

button {
  width: 160px;
  height: 46px;
  background-color: #6c63ff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #ffffff;
  border-style: none;
  border-radius: 10px;
  text-align: center;
}

button:hover {
  background-color: #9691ee;
  cursor: pointer;
}

.rocket {
  size: 60%;
}
